@charset "UTF-8";

:root{
    --cor1: #060607;
    --cor2: #F1F4FF;
    --cor3: #F81A3F;
    --font1: 'argentumsans';
    --font2: 'argentumsansita'
}
@font-face {
    font-family: 'argentumsans';
    src: url(../argentum-sans/ArgentumSans-Light.ttf) format('ttf'),
         url(../argentum-sans/ArgentumSans-LightItalic.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--cor1);
}
header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor2);
    height: 10vh;
    margin-bottom: 50px;
}

#icon-menu{
    display: none;
}
header  img{
    width: 100px;
}
.logo{
    padding-left: 30px;
    width: 65%;
}
menu{
    text-align: center;
    width: 35%;
}
menu a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}
main{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    gap: 50px;
}
#history{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.text h1{
    font-family: var(--font1);
    color: var(--cor3);
    padding-bottom: 10px;
}
.text{
    color: var(--cor2);
    font-family: var(--font1);
    padding: 20px;
    text-align: justify;
    width: 50%;
    height: 100%;
}
.image img{
    height: 300px;
    width: 300px;
}
#who{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
footer{
    background-color: var(--cor2);
    color: var(--cor3);
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    height: 8vh;
    padding: 12px;
}

@media screen and (max-width: 768px){
    
    header{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
    }
    .logo{
        display: flex;
        justify-content: flex-end;
        /*padding-right: 30px;*/
    }
    #icon-menu{
        display: block;
        font-size: 25px;
        padding: 3px;
    }
    #icon-menu:hover{
        cursor: pointer;
        border: 2px solid var(--cor1);
        border-radius: 5px;
    }
    main{
        flex-flow: column nowrap;
        gap: 0px;
    }
    #history{
        flex-flow: column nowrap;
    }
    .text{
        width: 100%;
    }
    .text h1{
        font-size: 30px;
    }
    .image{
        height: 200px;
        width: 200px;
    }
    .image img{
        height: 100%;
        width: 100%;
    }
    #who{
        flex-flow: column nowrap;
    }
}