@charset "UTF-8";

:root{
    --cor1: #060607;
    --cor2: #F1F4FF;
    --cor3: #F81A3F;
}
/*@font-face {
    font-family: 'ArgentumSans-Black';
    src: url(ArgentumSans-Black.ttf) format('ttf');
}*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor2);
    height: 13vh;
}
header  img{
    width: 100px;
    height: 100%;
}
.logo{
    padding-left: 30px;
    width: 65%;
}
.us{
    text-align: center;
    width: 35%;
}
.us a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
}
main{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    gap: 50px;
}
#history{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.text{
    color: var(--cor1);
    padding: 20px;
    text-align: justify;
    width: 50%;
    height: 100%;
}
.text h1{
    color: var(--cor1);
    padding-bottom: 10px;
}
#history img{
    height: 300px;
    width: 300px;
}
#who{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
}
#who img{
    height: 300px;
    width: 300px;
}
